// ==========================================================================
// Main
// ==========================================================================

// “One file to rule them all,
//  One file to find them,
//  One file to bring them all,
//  And in the Sass way merge them.”

// Groots
@import '../../ground/styles/ground';
@include grid('gr-grid', $grid-columns, $grid-gutter-width, $grid-container-width);
@include typography();

body {
  font-family: 'Inconsolata', monospace;
  background-color: color(brand, secondary);
  padding-bottom: calc(200px - #{$root-vgrid});

  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      display: none;
  }
}



hr {
  width: 100%;
  height: 2px;
  background-color: color(brand, quinary);
  margin: $root-vgrid 0;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.site-title {
  @extend %h1;
  text-align: center;
  line-height: 1.3;
  color: color(brand, quinary);
  line-height: 1;

  span {
    text-transform: none;
  }
}



%btn {
    @include btn-size(.875rem, .575rem, 1.5rem, 0);

    display: inline-block;
    text-transform: uppercase;
    border-style: solid;
    border-width: 2px;
    transition: $transition-normal ease-in-out;
    cursor: pointer;
}

.btn--primary {
    @extend %btn;
    @include btn-colors($white, $color-primary, $color-primary);
letter-spacing:2px;
    @include mq(md) {
        &:hover {
            @include btn-colors(inherit, transparent, $color-primary);
        }
    }
}

.button-container {
  justify-content: center;

  > * {
    margin-left: 1em;
    margin-right: 1em;
  }
}

@include form-checkbox();
[nodebot-console] {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;


  height: 200px;
  max-height: 0px;
  margin-top: $root-vgrid;
  list-style: none;
  font-weight: bold;
  border-top: 2px solid color(brand, quinary);
  overflow: hidden;
  background: $white;
  -webkit-overflow-scrolling: touch;
transition: all 350ms ease-in-out ;
&.is-opened {
  max-height: 200px;
  padding-top: $grid-gutter-width / 2;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
}
  li:last-child {
    padding-bottom: $grid-gutter-width;
  }
}


[nodebot-login] [gr-grid=container] {
  animation: animate 800ms forwards;
  animation-delay: 500ms;
  opacity: 0;
}

@keyframes animate {
  0%   {opacity: 0; }
  100% { opacity: 1; }
}

[nodebot-login] .themeBox li {
  display: block;
  animation: bande 1250ms forwards;
  animation-delay: 300ms;
}

@keyframes bande {
  0%   { height: 0; }
  100% { height: 20px; }
}


[nodebot-toggleConsole] {
  position: fixed;
  right: 0;
bottom: 0px;
padding: .2em .5em;
border-top: 2px solid color(brand, quinary);
border-left: 2px solid color(brand, quinary);
border-right: 2px solid color(brand, quinary);
border-bottom: 2px solid color(brand, quinary);
background: $white;
font-weight: bold;
transition: all 350ms ease-in-out;
border-top-left-radius: 10px;
opacity: 0;

@include mq(sm) {
    opacity: 1;
}

  &.is-opened {
    bottom: 160px;
    z-index: 1;
    border-color: transparent;
  }
}


.themeBox {
  li {
    line-height: 20px;
  }
}



[nodebot-form] {

  input {
    @extend %input;
    @include placeholder {
        color: $color-primary;
        font-weight: bold;
    }
    color: $color-primary;
    border-bottom-color: $color-primary;
    border-bottom-width: 2px;
    background-color: transparent;

    &:focus {
      border-bottom-color: currentColor;
    }
  }
}
