// ==========================================================================
// Groots GUI Interface
// ==========================================================================

@import 'ground';
$font-gui: 'Abel';

// Layouts
// --------------------------------------------------------------------------

@include flex-banner('.gui-banner', 28vh, 3rem);

.gui-banner {
    background: $color-globalia;
    margin-top: 4.5rem;
    color: color(root, white);
    font-family: $font-gui;

    i {
        display: block;
        font-size: 3rem;
        margin-bottom: $root-vgrid;
    }
}

.gui-main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.gui-footer {
    margin-top: ($root-hgrid * 2);
    background: color(greys, xdark);
    text-align: center;
    color: color(root, white);
    font-size: .75rem;
    font-family: $font-gui;
    position: relative;
    z-index: 12;
    padding: $root-vgrid $root-hgrid;
    text-align: center;

    .homepage & {
        background: none;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}


// Navigation
// --------------------------------------------------------------------------

@include nav('.gui-nav', 4.5rem, 20rem, always);

.gui-nav {
    font-family: $font-gui;
    color: color(root, white);
    background-color: #333;
    transition: background-color $transition-fast map-get($easing, easeinsine);

    .homepage & {
        background-color: transparent;

        &.is-open {
            background-color: #333;
        }
    }
}

.gui-nav__nav-icon {
    svg {
        width: 32px;
        height: 32px;
    }
}

.gui-nav__nav-title {
    font-weight: 700;
    padding-left: $root-hgrid/2;
    color: color(root, white);
}

.gui-groots {
    margin-left: auto;
    padding-right: $root-hgrid/4;
    font-size: 1.5em;
    color: color(root, white);
    white-space: nowrap;
    font-weight: 600;

    img,
    svg {
        height: 30px;
        width: auto;
        margin-top: .25em;

        g g:last-child {
            * {
                fill: color(root, white);
            }
        }
    }
}

.gui-globalia {
    padding-left: $root-hgrid/4;

    img,
    svg {
        width: 100px;
        height: 40px;
    }
}

.gui-nav__panel {
    background-color: color(root, white);

    .gui-nav__separator {
        border-bottom: 1px solid color(greys, xlight);
    }
}

.gui-nav__brand {
    font-size: 1.5em;
    color: $color-globalia;
    height: 4.5rem;
    line-height: 4.5rem;
    padding-left: $root-hgrid;
    padding-right: $root-hgrid;
    border-bottom: 1px solid color(greys, xlight);

    img,
    svg {
        height: 40px;
        width: auto;
        margin-right: .125em;
    }
}

.gui-nav__link {
    display: block;
    color: color(greys, xdark);
    font-size: 1em;
    font-weight: 700;
    padding: ($root-vgrid / 2) $root-hgrid;
    transition: background-color $transition-fast map-get($easing, easeinsine);

    &:hover,
    &.is-active {
        background-color: color(greys, light);
    }

    &::before {
        width: 2em;
    }

    &::first-letter {
        text-transform: uppercase;
    }

    & + ul li .gui-nav__link {
        font-weight: 400;
        padding: 2px remy($root-hgrid);
    }
}


// Styleguide & Components
// --------------------------------------------------------------------------

@include btn('.gui-btn');

.gui-btn {
    @include btn-colors(color(root, white), $color-globalia, darken($color-globalia, 20));
    @include btn-size(1em, 1em, 1em);

    font-family: $font-gui;
    overflow: hidden;
    position: relative;

    &::after {
        background: transparentize(color(root, white), .8);
        content: '';
        height: 9em;
        width: 4.5em;
        left: -9em;
        position: absolute;
        top: -2em;
        transform: rotate(35deg);
        transition: left $transition-normal map-get($easing, easeinsine);
    }

    &:hover::after {
        left: 120%;
    }
}

%interface-title {
    text-transform: uppercase;
    font: 700 1em $font-gui;
    color: color(greys, light);
}

.gui-item__header {
    @extend %interface-title;
    border-bottom: 1px solid currentColor;
    padding: .5em ($root-hgrid / 2);
    background: color(greys, xlight);
    margin-top: ($root-vgrid * 1.5);
    margin-bottom: $root-vgrid;
    border-top: 1px solid currentColor;

    @media screen and (min-width: $grid-container-width) {
        padding: .5em calc(50vw - (#{$grid-container-width} / 2) + (#{$root-hgrid} / 2));
    }
}

.gui-item__showcase {
    width: 100%;
    margin: $root-vgrid auto;
    max-width: $grid-container-width;
    padding-left: ($root-hgrid / 2);
    padding-right: ($root-hgrid / 2);

    &-row {
        margin: 0 ($root-hgrid / -2);
        display: flex;
        flex-direction: column;

        & > div {
            flex: 1;
            padding-left: ($root-hgrid / 2);
            padding-right: ($root-hgrid / 2);
        }

        @include mq(sm) {
            flex-direction: row;
            flex-wrap: wrap;
            & > div {
                flex: 1 1 50%;
                max-width: 50% // IE
            }
        }
    }

    &--full {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    &--frame {
        min-height: 30vh;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
    }
}

.gui-item__subtitle {
    @extend %interface-title;
    margin: $root-vgrid 0;
    padding-bottom: .5em;
    border-bottom: 1px solid currentColor;

    a,
    small {
        text-transform: none;
    }

    a {
        float: right;
        color: inherit;
    }
}

.gui-grid-card {
    text-align: center;
    color: color(root, white);
    font-family: $font-gui;
    background: #ccc;
}

%color-swatch {
    display: inline-block;
    width: 200px;
    border: 1px solid color(greys, base);
    font-family: $font-gui;

    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-top: 56.25%;
    }

    &::after {
        display: block;
        font-size: inherit;
        line-height: 2;
        padding: .25em 1em;
        color: color(greys, base);
        background: color(root, white);
        border-top: 1px solid color(greys, base);
    }
}


@each $label-map, $color-map in $colors {
    @each $label, $color in $color-map {
        .bg-#{$label-map}-#{$label} {
            @extend %color-swatch;
        }
    }
}


// Homepage
// --------------------------------------------------------------------------

@include flex-banner('.gui-banner--home', 100vh, 5rem);

.gui-banner--home {
    min-height: 100vh;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparentize(color(root, black), .5);
        z-index: 12;
    }

    &__inner {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparentize(color(root, white), .15);
        font-family: $font-gui;

        .logo {
            flex: 1;
            font-size: 2em;
            color: $color-globalia;
            padding-left: $root-hgrid;
            padding-right: $root-hgrid;

            a {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            img,
            svg {
                height: 80px;
                width: auto;
                margin-top: .5em;
            }
        }

        .intro {
            flex: 2;
            text-align: center;

            h1 {
                color: color(greys, xdark);
                font-size: 2em;
                line-height: (1.5 * $root-vgrid);
                margin-bottom: $root-vgrid;
                font-weight: normal;
            }

            .gui-btn + .gui-btn {
                margin-top: (.5 * $root-vgrid);
            }
        }

        @include mq(sm) {
            flex-direction: row;

            .logo {
                a {
                    margin-top: (-1.5 * $root-vgrid);
                    margin-left: auto;
                }
            }

            .intro {
                text-align: left;
                border-left: 1px solid currentColor;
                padding-left: $root-hgrid;

                h1 {
                    font-size: 3em;
                    line-height: (2 * $root-vgrid);
                }

                .gui-btn {
                    margin-top: 0;
                    @include btn-size(1em, 1.5em, 1.5em);

                    & + .gui-btn {
                        margin-left: (.25 * $root-hgrid);
                    }
                }
            }
        }

        @include mq(md) {
            .intro {
                margin-left: $root-hgrid;
                padding-left: (2 * $root-hgrid);
            }
        }
    }
}
